USE [master]
GO
/****** Object:  Database [PI_EAGLE]    Script Date: 12/12/2020 11:29:58 ******/
CREATE DATABASE [PI_EAGLE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PI_EAGLE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PI_EAGLE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PI_EAGLE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PI_EAGLE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PI_EAGLE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PI_EAGLE]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/12/2020 11:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CADASTRO]    Script Date: 12/12/2020 11:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CADASTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SENHA] [char](60) NOT NULL,
 CONSTRAINT [PK__CADASTRO__3214EC279FEB51A3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__CADASTRO__161CF72473A33B46] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 12/12/2020 11:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMENTARIO] [varchar](500) NOT NULL,
	[DATA] [varchar](50) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
