.mediaViewInfo {
  --web-view-name: Review;
  --web-view-id: Review;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Review;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Review {
  position: absolute;
  width: 1920px;
  height: 5530px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Review;
  --web-view-id: Review;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#LogoTipo {  
  color: white
}
#Login {
  left: 1468px;
  top: 30px;
  position: absolute;
  overflow: visible;
  width: 158px;
  height: 44px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(245, 241, 241, 1);
}
#Inscreva-se {
  left: 1710px;
  top: 32px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(243, 239, 239, 1);
}
#Ghost-of-Tsushima-1 {
  position: absolute;
  width: 1920px;
  height: 954px;
  left: 0px;
  top: 126px;
  overflow: visible;
}
#Grupo_22 {
  position: absolute;
  width: 92px;
  height: 88px;
  left: 904px;
  top: 933px;
  overflow: visible;
}
#Retngulo_29 {
  fill: rgba(0, 0, 0, 1);
}
.Retngulo_29 {
  position: absolute;
  overflow: visible;
  width: 92px;
  height: 88px;
  left: 0px;
  top: 0px;
}
#ID18 {
  left: 19px;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  text-align: left;
  font-family: Malgun Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  color: rgba(255, 255, 255, 1);
}
#Grupo_56 {
  position: absolute;
  width: 1115px;
  height: 639px;
  left: 439px;
  top: 1248px;
  overflow: visible;
}
#maxresdefault-11-900x503 {
  position: absolute;
  width: 1115px;
  height: 639px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_24 {
  position: absolute;
  width: 398.517px;
  height: 231.116px;
  left: 377.876px;
  top: 1175.204px;
  overflow: visible;
}
#Caminho_1 {
  fill: rgba(33, 138, 217, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Caminho_1 {
  overflow: visible;
  position: absolute;
  width: 141.101px;
  height: 237.915px;
  transform: translate(-40.876px, -78.204px)
    matrix(1, 0, 0, 1, 108.1716, 74.8041) rotate(64deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

.container {
  left: 921px;
  top: 1476px;
  position: absolute;
  overflow: visible;
  width: 494px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 135px;
  color: rgba(196, 48, 43, 1);
}
#JIN_IMG {
  left: 334px;
  top: 1917px;
  position: absolute;
  overflow: visible;
  width: 1327px;
  white-space: nowrap;
  text-align: left;
  font-family: Footlight MT;
  font-style: normal;
  font-weight: lighter;
  font-size: 60px;
  color: rgba(0, 0, 0, 1);
}
#ID20200710-ghost-of-tsushima-1 {
  position: absolute;
  width: 739px;
  height: 433px;
  left: 122px;
  top: 2179px;
  overflow: visible;
}
#TSUSHIMA_UM__CONTRASTE__ENTRE_ {
  left: 960px;
  top: 2179px;
  position: absolute;
  overflow: visible;
  width: 417px;
  white-space: nowrap;
  text-align: left;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
}
#Aventure-se_alm_dos_campos_de_ {
  left: 960px;
  top: 2351px;
  position: absolute;
  overflow: visible;
  width: 457px;
  white-space: nowrap;
  text-align: left;
  font-family: Maiandra GD;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}
#BB10Ny0r {
  position: absolute;
  width: 725px;
  height: 360px;
  left: 960px;
  top: 2706px;
  overflow: visible;
}
#A_ASCENSO_DO__FANTASMA {
  left: 273px;
  top: 2718px;
  position: absolute;
  overflow: visible;
  width: 377px;
  white-space: nowrap;
  text-align: left;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  color: rgba(0, 0, 0, 1);
}
#Jin_foi_criado_e_treinado_segu {
  left: 273px;
  top: 2856px;
  position: absolute;
  overflow: visible;
  width: 622px;
  white-space: nowrap;
  text-align: left;
  font-family: Maiandra GD;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}
#ID01_Overlook-02-720x405 {
  position: absolute;
  width: 745px;
  height: 397px;
  left: 588px;
  top: 3332px;
  overflow: visible;
}
#Prs {
  left: 338.435px;
  top: 3331.648px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(252, 13, 13, 1);
}
#Gameplay_expansivo_e_desafiado {
  left: 235px;
  top: 3413px;
  position: absolute;
  overflow: visible;
  width: 285px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(3, 3, 3, 1);
}
#Contras {
  left: 292px;
  top: 3605px;
  position: absolute;
  overflow: visible;
  width: 138px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(252, 13, 13, 1);
}
#Repetio_de_misses_Grficos_de_p {
  left: 236px;
  top: 3686px;
  position: absolute;
  overflow: visible;
  width: 284px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(3, 3, 3, 1);
}
#Retngulo_35 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Retngulo_35 {
  position: absolute;
  overflow: visible;
  width: 153px;
  height: 92px;
  left: 1532px;
  top: 3337px;
}
#logo {
  left: 1568px;
  top: 3357px;
  position: absolute;
  overflow: visible;
  width: 82px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(252, 13, 13, 1);
}
#Retngulo_36 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Retngulo_36 {
  position: absolute;
  overflow: visible;
  width: 522px;
  height: 269px;
  left: 1388px;
  top: 3496px;
}
#Review_______ {
  left: 1592px;
  top: 3593px;
  position: absolute;
  overflow: visible;
  width: 201px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(252, 13, 13, 1);
}
#Retngulo_37 {
  fill: rgba(103, 98, 98, 1);
}
.Retngulo_37 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 255px;
  left: 0px;
  top: 3988px;
}
#Grupo_35 {
  position: absolute;
  width: 1920px;
  height: 101px;
  left: 0px;
  top: 5429px;
  overflow: visible;
}
#Grupo_33 {
  position: absolute;
  width: 1920px;
  height: 101px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Retngulo_33 {
  fill: rgba(0, 0, 0, 1);
}
.Retngulo_33 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 101px;
  left: 0px;
  top: 0px;
}
#LogoTipo_bk {
  left: 916px;
  top: 20px;
  position: absolute;
  overflow: hidden;
  width: 218px;
  height: 62px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(243, 239, 239, 1);
}
#copyright {
  left: 791px;
  top: 21px;
  position: absolute;
  overflow: visible;
  width: 211px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(243, 239, 239, 1);
}
#ign_review {
  position: absolute;
  width: 311px;
  height: 81px;
  left: 67px;
  top: 4025px;
  overflow: visible;
}
#tt {
  position: absolute;
  width: 356px;
  height: 81px;
  left: 541px;
  top: 4025px;
  overflow: visible;
}
#meta {
  position: absolute;
  width: 311px;
  height: 81px;
  left: 1060px;
  top: 4025px;
  overflow: visible;
}
#tecnlo {
  position: absolute;
  width: 311px;
  height: 81px;
  left: 1534px;
  top: 4025px;
  overflow: visible;
}
#Polgono_1 {
  fill: rgba(236, 43, 43, 1);
}
.Polgono_1 {
  overflow: visible;
  position: absolute;
  width: 73px;
  height: 78px;
  left: 186px;
  top: 4132px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ID8 {
  left: 211px;
  top: 4142px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
}
#Grupo_57 {
  position: absolute;
  width: 73px;
  height: 78px;
  left: 683px;
  top: 4132px;
  overflow: visible;
}
#Polgono_2 {
  fill: rgba(236, 43, 43, 1);
}
.Polgono_2 {
  overflow: visible;
  position: absolute;
  width: 73px;
  height: 78px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ID95 {
  left: 10px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
}
#Polgono_3 {
  fill: rgba(236, 43, 43, 1);
}
.Polgono_3 {
  overflow: visible;
  position: absolute;
  width: 73px;
  height: 78px;
  left: 1179px;
  top: 4132px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ID95_bw {
  left: 1194px;
  top: 4145px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
}
#Polgono_4 {
  opacity: 0.9;
  fill: rgba(236, 43, 43, 1);
}
.Polgono_4 {
  overflow: visible;
  position: absolute;
  width: 73px;
  height: 78px;
  left: 1661px;
  top: 4132px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ID9 {
  left: 1687px;
  top: 4146px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  text-align: left;
  font-family: Leelawadee UI;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
}
#comment-alt {
  left: 455px;
  top: 4747px;
  position: absolute;
  overflow: visible;
  width: 110px;
  white-space: nowrap;
  text-align: left;
  font-family: Dubai;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(249, 249, 249, 1);
}
#Grupo_64 {
  position: absolute;
  width: 1043px;
  height: 129px;
  left: 697px;
  top: 5226px;
  overflow: visible;
}
#facebook {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 391px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  color: rgba(66, 103, 178, 1);
}
#instagram {
  left: 220px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 427px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 97px;
  color: rgba(225, 48, 108, 1);
}
#twitter-square {
  left: 441px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 603px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 97px;
  color: rgba(29, 161, 242, 1);
}
#Grupo_63 {
  position: absolute;
  width: 261px;
  height: 178px;
  left: 251px;
  top: 4608px;
  overflow: visible;
}
#Retngulo_43 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Retngulo_43 {
  position: absolute;
  overflow: visible;
  width: 158px;
  height: 177px;
  left: 0px;
  top: 1px;
}
#user {
  left: 25px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 237px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: normal;
  font-size: 127px;
  color: rgba(112, 112, 112, 1);
}
#thumbs-up {
  left: 395px;
  top: 4860px;
  position: absolute;
  overflow: visible;
  width: 202px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  color: rgba(77, 155, 200, 1);
}
#thumbs-down {
  left: 495px;
  top: 4860px;
  position: absolute;
  overflow: visible;
  width: 256px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  color: rgba(252, 7, 7, 1);
}
#Linha_4 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Linha_4 {
  overflow: visible;
  position: absolute;
  width: 758px;
  height: 1px;
  left: 485.5px;
  top: 4642.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Linha_5 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Linha_5 {
  overflow: visible;
  position: absolute;
  width: 758px;
  height: 1px;
  left: 485.5px;
  top: 4719.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Linha_6 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Linha_6 {
  overflow: visible;
  position: absolute;
  width: 758px;
  height: 1px;
  left: 485.5px;
  top: 4783.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Retngulo_45 {
  fill: transparent;
  stroke: rgba(255, 215, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Retngulo_45 {
  position: absolute;
  overflow: visible;
  width: 266px;
  height: 57px;
  left: 897px;
  top: 4323px;
}
#Comentrios {
  left: 951px;
  top: 4340px;
  position: absolute;
  overflow: visible;
  width: 150px;
  white-space: nowrap;
  text-align: left;
  font-family: Felix Titling;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#comments {
  left: 593px;
  top: 4855px;
  position: absolute;
  overflow: visible;
  width: 232px;
  white-space: nowrap;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}
#Grupo_78 {
  position: absolute;
  width: 1925px;
  height: 126px;
  left: -3px;
  top: 0px;
  overflow: visible;
}
#Retngulo_1 {
  fill: rgba(0, 0, 0, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Retngulo_1 {
  position: absolute;
  overflow: visible;
  width: 1925px;
  height: 126px;
  left: 0px;
  top: 0px;
}
#Sobre_Ns__ {
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 1212.4486, 32.0242)
    rotate(0deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 150px;
  height: 40px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(243, 239, 239, 1);
}
#LogoTipo_ci {
  left: 69px;
  top: 21px;
  position: absolute;
  overflow: hidden;
  width: 218px;
  height: 62px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(243, 239, 239, 1);
}
#Cadastre_-_se {
  left: 1551px;
  top: 32px;
  position: absolute;
  overflow: visible;
  width: 206px;
  height: 44px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(245, 241, 241, 1);
}
#Reviwes {
  left: 1393px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 158px;
  height: 44px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(245, 241, 241, 1);
}
#Login_cl {
  left: 1775px;
  top: 34px;
  position: absolute;
  overflow: visible;
  width: 75px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(243, 239, 239, 1);
}
