html{
	background-color:black ;
  font-family: "Open Sans, Arial";
}
header{
	background-color: black;
	height: auto;
	width: 80%;
  height: auto;
  max-width: 960px;

}

nav li {
	position: relative;
	display: inline-flex;
	margin: 0 0 0 40px;
	
	
}
nav a {
	color: rgba(192, 188, 188, 0.774);
	text-decoration: none;	
}
nav a:hover {
	color: white;
	text-decoration: none;
	transition: 1s all;
}
img{
	position: relative;
	max-width: 1.6rem;
}
.logo {
	margin-right: 3rem;
}
  
#retangulo {
    fill:#bbbfca
  }

   .retangulo {
    position: absolute;
    overflow: visible;
    width: 1317px;
    height: 347px;
    left: 200px;
    top: 200px;
  }

  #retangulo p {
    color: #1C1C1C;
    font-family: Georgia,serif;
    width: 100%;
    position: relative;
    margin-left: 10px;
  }

  #sobre-nos {
    left: 25%;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 828px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,0,0,1);
  }
