html{
	background-color:black ;
	font-family: "Open Sans, Arial";
}
header{
	background-color: black;
	height: auto;
	width: 100%;
	height: auto;

}

nav li {
	position: relative;
	display: inline-flex;
	margin: 0 0 0 40px;
	
	
}
nav a {
	color: rgba(192, 188, 188, 0.774);
	text-decoration: none;	
}
nav a:hover {
	color: white;
	text-decoration: none;
	transition: 1s all;
}
img{
	position: relative;
	max-width: 1.6rem;
}
.logo {
	margin-right: 3rem;
}


  #Grupo_7 {
	position: absolute;
	width: 1876px;
	height: 714px;
	left: 21px;
	top: 171px;
	overflow: visible;
  }
  #Grupo_6 {
	position: absolute;
	width: 1876px;
	height: 714px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_5 {
	position: absolute;
	width: 1876px;
	height: 714px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #dcef71y-36be97a6-1d92-4e24-97a {
	position: absolute;
	width: 1876px;
	height: 714px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #medal {
	left: 102px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(254, 225, 1, 1);
  }
  #The_Game_Award_para_Jogo_do_An {
	left: 206px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 497px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(254, 225, 1, 1);
  }
  #The_Last_of_Us_2_capa {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 774px;
	top: 1113px;
	overflow: visible;
  }
  #unnamed {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 1426px;
	top: 1113px;
	overflow: visible;
  }
  #playstation {
	transform: matrix(1, 0, 0, 1, 207.4045, 1542.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #playstation_u {
	transform: matrix(1, 0, 0, 1, 1502.4045, 1542.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #playstation_v {
	transform: matrix(1, 0, 0, 1, 939.4045, 1542.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox {
	left: 284px;
	top: 1547px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox_x {
	left: 1579px;
	top: 1547px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows {
	left: 351px;
	top: 1545px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_z {
	left: 1646px;
	top: 1545px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #google-wallet {
	left: 414px;
	top: 1545px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #google-wallet_ {
	left: 1709px;
	top: 1545px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_9 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 297px;
	top: 1617px;
	overflow: visible;
  }
  #Retngulo_29 {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29 {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18 {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Grupo_10 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 932px;
	top: 1620px;
	overflow: visible;
  }
  #Retngulo_29_ {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_ {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18_ {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Componente_2__1 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 1596px;
	top: 1617px;
	overflow: visible;
  }
  #Grupo_11 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_29_ba {
	fill: rgba(253, 127, 32, 1);
  }
  .Retngulo_29_ba {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID14 {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Grupo_36 {
	position: absolute;
	width: 265px;
	height: 54px;
	left: 841px;
	top: 944px;
	overflow: visible;
  }
  #Retngulo_27 {
	fill: rgba(255, 255, 255, 1);
	stroke: rgba(1, 1, 1, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_27 {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 54px;
	left: 0px;
	top: 0px;
  }
  #Lanamentos {
	left: 26px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Cyberpunk_2077_capa {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 149px;
	top: 1113px;
	overflow: visible;
  }
  #Retngulo_25 {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 123px;
	top: 1053px;
  }
  #Retngulo_38 {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_38 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 748px;
	top: 1057px;
  }
  #Retngulo_39 {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_39 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 1400px;
	top: 1057px;
  }
  #Grupo_37 {
	position: absolute;
	width: 265px;
	height: 54px;
	left: 828px;
	top: 1925px;
	overflow: visible;
  }
  #Retngulo_27_bk {
	fill: rgba(255, 255, 255, 1);
	stroke: rgba(1, 1, 1, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_27_bk {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 54px;
	left: 0px;
	top: 0px;
  }
  #Lanamentos_bl {
	left: 26px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_40 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 113px;
	top: 2005px;
	overflow: visible;
  }
  #Grupo_45 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_46 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_39 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_38 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_25_br {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_br {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #Ghost_of_Tsushima_capa {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 24px;
	top: 47px;
	overflow: visible;
  }
  #Retngulo_29_bt {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_bt {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 182px;
	top: 547px;
  }
  #ID18_bu {
	left: 193px;
	top: 556px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Grupo_15 {
	position: absolute;
	width: 408.396px;
	height: 55.217px;
	left: 194.604px;
	top: 2483.777px;
	overflow: visible;
  }
  #playstation_bw {
	transform: translate(-184.604px, -722.777px)
	  matrix(1, 0, 0, 1, 185.4045, 725.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox_bx {
	left: 77.396px;
	top: 7.223px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_by {
	left: 144.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #google-wallet_bz {
	left: 207.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_43 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 749px;
	top: 2009px;
	overflow: visible;
  }
  #Grupo_42 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_41 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_25_b {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_b {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #cod-warzone {
	position: absolute;
	width: 372px;
	height: 424px;
	left: 18px;
	top: 45px;
	overflow: visible;
  }
  #Grupo_44 {
	position: absolute;
	width: 271.396px;
	height: 55.217px;
	left: 873.604px;
	top: 2483.777px;
	overflow: visible;
  }
  #playstation_b {
	transform: translate(-873.604px, -743.777px)
	  matrix(1, 0, 0, 1, 874.4045, 746.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox_b {
	left: 77.396px;
	top: 7.223px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_b {
	left: 144.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_16 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 932px;
	top: 2553px;
	overflow: visible;
  }
  #Retngulo_29_ca {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_ca {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18_cb {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Grupo_47 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 1379px;
	top: 2009px;
	overflow: visible;
  }
  #Retngulo_25_cd {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_cd {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #ID3913-streets-of-rage-4-capa- {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 28px;
	top: 47px;
	overflow: visible;
  }
  #Grupo_20 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 186px;
	top: 542px;
	overflow: visible;
  }
  #Grupo_19 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_18 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_17 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_29_cj {
	fill: rgba(96, 182, 204, 1);
  }
  .Retngulo_29_cj {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #Grupo_14 {
	position: absolute;
	width: 35px;
	height: 40px;
	left: 11px;
	top: 6px;
	overflow: visible;
  }
  #ID12 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #Grupo_12 {
	position: absolute;
	width: 271.396px;
	height: 55.217px;
	left: 1504.604px;
	top: 2476.777px;
	overflow: visible;
  }
  #playstation_cn {
	transform: translate(-1497.604px, -738.777px)
	  matrix(1, 0, 0, 1, 1498.4045, 741.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox_co {
	left: 77.396px;
	top: 7.223px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_cp {
	left: 144.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_48 {
	position: absolute;
	width: 265px;
	height: 54px;
	left: 828px;
	top: 2774px;
	overflow: visible;
  }
  #Retngulo_27_cr {
	fill: rgba(255, 255, 255, 1);
	stroke: rgba(1, 1, 1, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_27_cr {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 54px;
	left: 0px;
	top: 0px;
  }
  #Em_breve {
	left: 58px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_49 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 113px;
	top: 2935px;
	overflow: visible;
  }
  #Retngulo_25_cu {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_cu {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #outlast-keyart-1 {
	position: absolute;
	width: 372px;
	height: 408px;
	left: 24px;
	top: 47px;
	overflow: visible;
  }
  #Grupo_28 {
	position: absolute;
	width: 127px;
	height: 44px;
	left: 307px;
	top: 3428px;
	overflow: visible;
  }
  #Grupo_27 {
	position: absolute;
	width: 127px;
	height: 44px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Grupo_15_cy {
	position: absolute;
	width: 127px;
	height: 44px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #windows_cz {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_21 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 294px;
	top: 3501px;
	overflow: visible;
  }
  #Retngulo_29_c {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_c {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18_c {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #ID2021 {
	left: 286px;
	top: 3642px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Century;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_50 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 748px;
	top: 2935px;
	overflow: visible;
  }
  #Retngulo_25_c {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_c {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #resident-evil-village-detalhes {
	position: absolute;
	width: 372px;
	height: 424px;
	left: 26px;
	top: 39px;
	overflow: visible;
  }
  #Grupo_51 {
	position: absolute;
	width: 271.396px;
	height: 55.217px;
	left: 873.604px;
	top: 3422.777px;
	overflow: visible;
  }
  #xbox_c {
	left: 70.396px;
	top: 7.223px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #playstation_c {
	transform: translate(-881.604px, -756.777px)
	  matrix(1, 0, 0, 1, 882.4045, 759.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_da {
	left: 144.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_52 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 932px;
	top: 3501px;
	overflow: visible;
  }
  #Grupo_16_dc {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_29_dd {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_dd {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18_de {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #ID2021_df {
	left: 916px;
	top: 3642px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Century;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_53 {
	position: absolute;
	width: 424px;
	height: 656px;
	left: 1400px;
	top: 2935px;
	overflow: visible;
  }
  #Retngulo_25_dh {
	fill: transparent;
	stroke: rgba(255, 215, 0, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_25_dh {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 656px;
	left: 0px;
	top: 0px;
  }
  #tetra-preorder-standard-editio {
	position: absolute;
	width: 372px;
	height: 429px;
	left: 26px;
	top: 39px;
	overflow: visible;
  }
  #Grupo_31 {
	position: absolute;
	width: 408.396px;
	height: 55.217px;
	left: 1493.604px;
	top: 3422.777px;
	overflow: visible;
  }
  #playstation_dk {
	transform: translate(-184.604px, -722.777px)
	  matrix(1, 0, 0, 1, 185.4045, 725.8859) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(168, 167, 159, 0.769);
  }
  #xbox_dl {
	left: 77.396px;
	top: 7.223px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #windows_dm {
	left: 144.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #google-wallet_dn {
	left: 207.396px;
	top: 5.223px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_32 {
	position: absolute;
	width: 56px;
	height: 58px;
	left: 1584px;
	top: 3501px;
	overflow: visible;
  }
  #Retngulo_29_dp {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_29_dp {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 58px;
	left: 0px;
	top: 0px;
  }
  #ID18_dq {
	left: 11px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Malgun Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
  }
  #ID2021_dr {
	left: 1567px;
	top: 3642px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Century;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_54 {
	position: absolute;
	width: 265px;
	height: 54px;
	left: 828px;
	top: 3939px;
	overflow: visible;
  }
  #Retngulo_27_dt {
	fill: rgba(255, 255, 255, 1);
	stroke: rgba(1, 1, 1, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
  }
  .Retngulo_27_dt {
	position: absolute;
	overflow: visible;
	width: 265px;
	height: 54px;
	left: 0px;
	top: 0px;
  }
  #Destaque {
	left: 54px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0, 0, 0, 1);
  }
  #Grupo_55 {
	position: absolute;
	width: 937px;
	height: 546px;
	left: 110px;
	top: 4132px;
	overflow: visible;
  }
  #Fall_Guys {
	position: absolute;
	width: 937px;
	height: 546px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Fall-Guys-9 {
	position: absolute;
	width: 496px;
	height: 257px;
	left: 1246px;
	top: 4116px;
	overflow: visible;
  }
  #fall_guys-VIDEO-inusitado {
	position: absolute;
	width: 496px;
	height: 257px;
	left: 1246px;
	top: 4437px;
	overflow: visible;
  }
  #windows_dz {
	left: 431px;
	top: 4728px;
	position: absolute;
	overflow: visible;
	width: 332px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 86px;
	color: rgba(168, 167, 159, 0.769);
  }
  #playstation_d {
	transform: matrix(1, 0, 0, 1, 616.4817, 4715.0146) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 460px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 95px;
	color: rgba(168, 167, 159, 0.769);
  }
  #Grupo_34 {
	position: absolute;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 5425px;
	overflow: visible;
  }
  #Grupo_33 {
	position: absolute;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
  }
  #Retngulo_33 {
	fill: rgba(0, 0, 0, 1);
  }
  .Retngulo_33 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 0px;
  }
  #LogoTipo {
	left: 916px;
	top: 20px;
	position: absolute;
	overflow: hidden;
	width: 218px;
	height: 62px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(243, 239, 239, 1);
  }
  #copyright {
	left: 791px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Free;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(243, 239, 239, 1);
  }
  #Grupo_65 {
	position: absolute;
	width: 1043px;
	height: 129px;
	left: 697px;
	top: 5231px;
	overflow: visible;
  }
  #facebook {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 391px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	color: rgba(66, 103, 178, 1);
  }
  #instagram {
	left: 220px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 97px;
	color: rgba(225, 48, 108, 1);
  }
  #twitter-square {
	left: 441px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 603px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 5 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 97px;
	color: rgba(29, 161, 242, 1);
}
 
fieldset{
	margin: 3rem;
	border-color: rgb(48, 46, 46);
	width:50rem;
	background-color: rgb(48, 46, 46);
	border-radius: 10px;
	text-align: center;
	
} 


.formulario {
	margin-top: 0.2rem;
	font-size: 1.5rem;
	text-align: center;
}
label{
	left:19px;
	
}

.enviar {
	width:10rem;
	margin:1rem;
	padding: 12px 0;
	background: gray;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	transition: 1s all;
	cursor: pointer;
	position: relative;
	
}
.enviar:hover {
	background: rgb(83, 83, 83);
	transform: scale(1.04);
}


.checkbox{
	margin-top: 1.5rem;
	text-align: center;
	
}
.icon{
	margin-right: 0.2rem;
}
#nome, #email, #senha, #avatar {
	padding-top: 0.8rem;
	padding-left:2rem;
	margin-top: 1rem;
	width: 20rem;
}

.link {
	font-size: 1.5rem;
	text-align: center;

}
.redefinir:link {
	text-decoration: none;
	color:white;
}
.redefinir:visited{
	text-decoration: none;
	color: white;
}
.redefinir:hover{
	text-decoration: underline;
	color: gray;
	transition: 2s;
}