#slaporra .navbar-brand{
    color: white;
}

#navbarNav .nav-link{
   color: white;
}

#navbarNav  .navbar-toggler{
   color: white;
}
#player{
   margin-top: 10%;
   max-width: 100% !important;
   max-height: 100% !important;
}

.inferior{
    width: auto;
    height: auto;
    padding: 12px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    align-content: center;
}

.inferior span{
    color: white;
    display: block;
    /* margin: 0; */
    text-align: center;
}

#player{
    margin-bottom: 100px;
}
